<!DOCTYPE html> 
<html lang="en">
    <body>
        <h1>Welcome to my website!</h1>
        <p>This is a simple website created using HTML.</p>
        <p>This is a paragraph.</p>
        <p>This is another paragraph.</p>
        <p>This is yet another paragraph.</p>
        <p>This is the last paragraph.</p>
        <p>This is a <strong>bold</strong> paragraph.</p>
        <p>This is a <em>italic</em> paragraph.</p>
        <p>This is a <mark>highlighted</mark> paragraph.</p>
        <p>This is a <del>strikethrough</del> paragraph.</p>
        <p>This is a <ins>underlined</ins> paragraph.</p>
        <p>This is a <sub>subscript</sub> paragraph.</p>
    </body>
</html>